<section class="text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="privateImg/Alex.jpg" alt="">
                    <h5>Alex Brito</h5>
                    <p class="font-weight-light mb-0">Software Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="privateImg/IMG_0971.JPG" alt="">
                    <h5>Erinn Ferguson</h5>
                    <p class="font-weight-light mb-0">Software Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="privateImg/john.jfif" alt="">
                    <h5>John Khuc</h5>
                    <p class="font-weight-light mb-0">Software Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="privateImg/Aiden.jpg" alt="">
                    <h5>Aiden Wells</h5>
                    <p class="font-weight-light mb-0">Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</section>