<div class="container-fluid">
    <div class='grid-container'>
        <div class="image">
            <div class="logoBanner centerImage">
                <img src="privateImg/logoAttempt3.gif"></img>
            </div>
        </div>
        <div class="center-input">
            <div class="container pt-5">
                {{#if showOptions}}

                {{/if}}

                {{#unless showOptions}}
                <h1 class="display-3 pt-3">Sign In</h1>
                <form id="signInForm" action="/logInDynamic" method="POST">
                    <div class="form-group">
                        <label for="user-input-email">Email</label>
                        <input type="text" class=" form-control input-size required" name="email"
                            id="user-input-email-id" />
                    </div>
                    <div class="form-group">
                        <label for="user-input-password">Password</label>
                        <input type="text" class="form-control input-size required" name="password"
                            id="user-input-pw-id" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {{/unless}}
            </div>
        </div>
    </div>
</div>