<!-- Main Content -->

{{!-- <!--Grid row-->
<div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-md-6">

    </div>
    <!--Grid column-->

</div>
<!--Grid row--> --}}


<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Educational Image Repository</h3>
                    <p class="lead mb-0">This database is meant to be a educational repository. Download as many or as
                        little full resolution images you want!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Changes Coming Soon!</h3>
                    <p class="lead mb-0">Features for filtering and sorting coming soon! Also the ability to bulk
                        download images from our database!</p>
                </div>
            </div>
            <!-- <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3></h3>
            <p class="lead mb-0"></p>
          </div>
        </div> -->
        </div>
    </div>
</section>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('img/103P_101127ligustri.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Coming Soon!</h2>
                <p class="lead mb-0">Create your own synthetic images based on real images from the universe!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/103P_101127ligustri.jpg');">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Our Drive for Innovation</h2>
                <p class="lead mb-0">We are always trying to find something new and exciting to show you! And we make an
                    effort to make it as easy to use as possible!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('img/103P_101127ligustri.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Tell us what you think!</h2>
                <p class="lead mb-0">Do you like our website? Do you something can be improved? Let us know!</p>
            </div>
        </div>
    </div>
</section>
</div>