<div class="container-flex">
    <div class="container">
        <div class="d-flex justify-content-center">
            {{#if showUserInfo}}
            <h1 class="display-4 pb-5">Congrats {{username}} User Account Created Successfully!!!!</h1>
            <h1 class="display-4 pb-5">Email: {{email}}</h1>
            {{/if}}
        </div>
    </div>